<div style="background-image: url(./assets/images/homepagebg.jpg) ; height: 636px">
  <div style="height: 4580px; position: absolute">
    <!-- ************************ whatever content below bg image *************************** -->
    <p id="subscribe" #joinTheVetlifyClub>Subscribe To Our Yearly Packages</p>
    <!-- ******** 3 CARDS **************** -->
    <div class="row" style="position: absolute; margin-top:790px">
      <div class="fluid-container">
        <!-- *****first card****** -->
        <div class="card" id="card1" style="margin-left:172px ; height: 571 ; width: 310px">
          <div class="card-heading"
            style="width: 310px; height:70px ; background-color: rgba(10, 55, 111, 0.6); color: white">
            <label id="boss1" style="    position: absolute;
            margin-top: 29px;
            margin-left: 72px;
            color: white;
            font-family: unset;
            font-size: 13px;">Move Like A </label><label id="boss2" style="    margin-left: 153px;
            margin-top: 10px;
            position: absolute;
            font-family: HelveticaNeue-Medium;
            font-size: 35px;
            color: white; text-shadow: 0.5px 0.5px 0.5px #000000;">Boss</label>
          </div>
          <div class="card-content white-text" style="height: 571px ; width: 310px">
            <p id="cost" style="margin-top: 40px">
              <label id="1500" style="font-family: HelveticaNeue-Medium;
            color: #0a376f;
            font-size: 30px;
            position: absolute;
            margin-left: 80px;">
                $ 1500</label>
              <label id="yr" style="    position: absolute;
            margin-left: 170px;
            margin-top: 6px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.6)">/yr</label>
            </p>
            <p>
              <a (click)="coloring1()" style="    margin-left: 31px; margin-top: 60px;
            height: 32px;
            width: 205px;
            position: absolute;
            border-radius: 10px 0px;
            color: #1f3a6d;
            background-color: white;
            line-height: 28px;
            border: #022566 solid 1.6px;
            text-transform: unset;
            font-weight: 500;
             " id="signup1" class="btn" [routerLink]="['/card']">Sign Up Now</a>
            </p>
            <p id="line1" style="position: absolute;
            margin-top: 125px;
            color: black;
            font-size: 13px;
            font-family: Helvetica;
            font-weight: 300; letter-spacing: 0.5px">
              Unique code to download App before launch
            </p>
            <p id="line2" style="color: black;
            font-family: Helvetica;
            font-size: 13px;
            margin-top: 155px;
            position: absolute;
            font-weight: 300;
            letter-spacing: 0.5px;">
              Upto 10% discounts on all lifts
            </p>
            <p id="line3" style="    position: absolute;
            margin-top: 182px;
            color: black;
            font-size: 13px;
            font-family: Helvetica;
           
            letter-spacing: 0.5px;">
              Seat flexibility
            </p>
            <p id="greypara" style="    color: rgba(196, 196, 196, 0.8);
            font-size: 13px;
            position: absolute;
            margin-top: 215px;
            font-family: Helvetica;
            letter-spacing: 0.5px; line-height: 26px">
              Upto 5% discounts on all chartered flights<br />
              Upto 10% discount <br />VIP pick-ups and drop-offs <br />
              Upto 2 lift cruises a year <br />Access to selected VetiFly events
              <br />
              <label style="    margin-top: 32px;
            position: absolute;
            font-family: Helvetica;
            font-size: 13px;
            color: rgba(196, 196, 196, 0.8);">
                2nd order preferential booking access during high-demand <br />
              </label>
              <label
                style="position: absolute ;margin-top:91px ; color: rgba(196, 196, 196, 0.8) ;font-family: Helvetica  ;font-size: 13px">
                Dedicated relationship manager</label>
            </p>
          </div>
        </div>

        <!-- *************card1 end*************** -->
        <!-- ***********card2****************** -->
        <div class="card" id="card2" style="height: 571 ; width: 310px; ">
          <div class="card-heading"
            style="width: 310px; height:70px ; background-color: rgba(10, 55, 111, 0.8); color: white">
            <label id="boss1" style="    position: absolute;
              margin-top: 29px;
              margin-left: 35px;
              color: white;
              font-family: unset;
              font-size: 13px;">Move Like An </label><label id="boss2" style="    margin-left: 123px;
              margin-top: 10px;
              position: absolute;
              font-family: HelveticaNeue-Medium;
              font-size: 35px;
              color: white; text-shadow: 0.5px 0.5px 0.5px #000000;">Executive</label>
          </div>
          <div class="card-content white-text" style="height: 571px ; width: 310px">
            <p id="cost" style="margin-top: 40px">
              <label id="1500" style="font-family: HelveticaNeue-Medium;
              color: #1f3a6d;
              font-size: 30px;
              position: absolute;
              margin-left: 80px;">
                $ 2500</label>
              <label id="yr" style="    position: absolute;
              margin-left: 170px;
              margin-top: 6px;
              font-size: 16px;
              color: rgba(0, 0, 0, 0.6)">/yr</label>
            </p>
            <p>
              <a (click)="coloring2()" style="    margin-left: 24px; margin-top:60px;
              height: 31px;
              width: 205px;
              position: absolute;
              border-radius: 10px 0px;
              color: #1f3a6d;
              background-color: white;
              border: #1f3a6d solid 1.6px;
              text-transform: unset;
              font-weight: 500;
              line-height: 27px" id="signup2" class=" btn" [routerLink]="['/card']">Sign Up Now</a>
            </p>
            <p id="line1" style="position: absolute;
              margin-top: 125px;
              color: black;
              font-size: 13px;
              font-family: Helvetica;
              font-weight: 300; letter-spacing: 0.5px">
              Unique code to download App before launch
            </p>
            <p id="line2" style="color: black;
              font-family: Helvetica;
              font-size: 13px;
              margin-top: 155px;
              position: absolute;
              font-weight: 300;
              letter-spacing: 0.5px;">
              Upto
              <label style="font-size:14 ; font-family: Helvetica ; font-weight: 800 ;color:black">
                15%</label>
              discounts on all lifts
            </p>
            <p id="line3" style="    position: absolute;
              margin-top: 185px;
              color: black;
              font-size: 13px;
              font-family: Helvetica;
             
              letter-spacing: 0.5px;">
              Seat flexibility
            </p>
            <p id="greypara" style="    color:black;
              font-size: 13px;
              position: absolute;
              margin-top: 215px;
              font-family: Helvetica;
              letter-spacing: 0.5px;">
              Upto
              <label style="font-size:14 ;font-family: Helvetica;font-weight: 800 ;color: black">
                5%</label>
              discounts on all chartered flights<br />
              Upto
              <label style="font-size:14 ; font-family: Helvetica; font-weight: 800;color: black">
                10%</label>
              discount <br />VIP pick-ups and drop-offs <br />
              Upto
              <label style="font-size:14 ;font-family: Helvetica;font-weight: 800 ;color: black">
                2</label>
              lift cruises a year <br />Access to selected VetiFly events
              <br />
              <label style="    margin-top: 32px;
              position: absolute;
              font-family: Helvetica;
              font-size: 13px;
              color: black;">
                <label style="font-size:14 ;font-weight: 800 ;font-family: Helvetica; color: black">
                  2nd</label>
                order preferential booking access during high-demand <br />
              </label>
              <label id="lastline"
                style="color:rgba(196, 196, 196, 0.8); font-size: 13px ;position: absolute;margin-top: 91px ;font-family:  Helvetica">
                Dedicated relationship manager</label>
            </p>
          </div>
        </div>
        <!-- *****************card2 end****************** -->
        <!-- ************ card 3************ -->
        <div class="card" id="card3" style="height: 571 ; width: 310px; ">
          <div class="card-heading" style="width: 310px; height:70px ; background-color: #0a376f; color: white">
            <label id="boss1" style="    position: absolute;
            margin-top: 29px;
            margin-left: 37px;
            color: white;
            font-family: unset;
            font-size: 13px;">Move Like A </label><label id="boss2" style="    margin-left: 123px;
            margin-top: 10px;
            position: absolute;
            font-family: HelveticaNeue-Medium;
            font-size: 34px;
            color: #fbbb00 ;
            text-shadow: 1px 1px 1px #000000;
        
        ;">President</label>
          </div>
          <div class="card-content white-text" style="height: 571px ; width: 310px">
            <p id="cost" style="margin-top: 40px">
              <label id="1500" style="font-family: HelveticaNeue-Medium;
            color: #0a376f;
            font-size: 30px;
            position: absolute;
            margin-left: 80px;">
                $ 5000</label>
              <label id="yr" style="    position: absolute;
            margin-left: 170px;
            margin-top: 6px;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.6)">/yr</label>
            </p>
            <p>
              <a style="    margin-left: 24px; margin-top: 60px;
            height: 31px;
            width: 205px;
            position: absolute;
            border-radius: 10px 0px;
            color: #1f3a6d;
            background-color: white;
            border: #1f3a6d solid 1.6px;
            text-transform: unset;
            font-weight: 500;
             line-height: 27px" (click)="coloring3()" id="signup3" class=" waves-light btn" [routerLink]="['/card']"
                (click)="coloring3()">Sign Up Now</a>
            </p>
            <p id="line1" style="position: absolute;
            margin-top: 125px;
            color: black;
            font-size: 13px;
            font-family: Helvetica;
            font-weight: 300; letter-spacing: 0.5px">
              Unique code to download App before launch
            </p>
            <p id="line2" style="color: black;
            font-family: Helvetica;
            font-size: 13px;
            margin-top: 155px;
            position: absolute;
            font-weight: 300;
            letter-spacing: 0.5px;">
              Upto<label style="color:#fbbb00 ; font-family: Helvetica;font-weight: 800;font-weight:14px">
                20%</label>
              discounts on all lifts
            </p>
            <p id="line3" style="    position: absolute;
            margin-top: 185px;
            color: black;
            font-size: 13px;
            font-family: Helvetica;
           
            letter-spacing: 0.5px;">
              Seat flexibility
            </p>
            <p id="greypara" style="    color: black;
            font-size: 13px;
            position: absolute;
            margin-top: 215px;
            font-family: Helvetica;
            letter-spacing: 0.5px;">
              Upto
              <label style="color:#fbbb00 ; font-weight: 800; font-weight:14px ">
                15%</label>
              discounts on all chartered flights<br />
              Upto
              <label style="color:#fbbb00 ; font-weight: 800 ;font-weight:14px">
                10%</label>
              discount <br />Free VIP pick-ups and drop-offs <br />
              Upto
              <label style="color:#fbbb00 ; font-weight: 800; font-weight:14px">
                5%
              </label>
              lift cruises a year <br />VIP access to all VetiFly events &
              partner deals
              <br />
              <label style="color:#fbbb00 ; font-weight: 800;font-weight:14px">
                1st</label>
              order preferential booking access during high-demand <br />
              Dedicated relationship manager
            </p>
          </div>
        </div>

        <!-- *************card 3 end***************** -->
      </div>
    </div>
    <!-- *************3 CARDS***end*********** -->
    <p
      style="position:absolute; margin-left: 32px; margin-top:439px ; font-size: 30px; font-family: HelveticaNeue-Medium ; color: white ; font-weight: 500; line-height: 37px">
      Tired of losing out on your precious <br />time to traffic jams in
      <label style="font-family: HelveticaNeue-Medium; font-size:30px; color:#1f3a6d">Lagos</label>
      ...
    </p>
    <p>
      <a id="getstarted" class="btn">Get Started</a>
    </p>
    <!-- **************HOW IT WORKS PAGE*********** -->

    <div #howItWorks style="position: absolute;margin-top:1475px;margin-left: 400px">
      <p style="font-size: 34px;
    color:#1f3a6d;
    font-family: HelveticaNeue-Medium;
    position: relative;
    text-align: center;">How It Works</p>

      <div *ngFor='let item of videolist'>

        <div>
          <iframe width="560" height="315" [src]="getembedurl(item)" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

      </div>

    </div>
    <!-- ********* HOW IT WORKS PAGE END ********** -->
    <!-- ******* about us page **************** -->
    <nav style="background-color: #015ea5 ; height: 455px ;position: absolute;margin-top:1970px">
      <div id="navbar" class="nav-wrapper container">
        <p style="    position: relative;
    margin-top: 166px;
    margin-left: -119px;
    font-family: HelveticaNeue-Medium;
    font-size: 36px;
    letter-spacing: 0.5px;
    font-weight: 500;">
          eu eget phasellus in tortor <br />
          aliquam velit amet, netus ipsum <br />pellentesque eget mattis
        </p>
        <p style="    position: relative;
    font-size: 13px;
    line-height: initial;
    margin-left: -119px;
    margin-top: 50px;
    font-weight: 200;
    font-family: helvetica;
">
          sed ac quis purus ut netus vitae, suscipit non arcu, porta eu vitae
          nulla<br />
          mollis in consectetur faucibus cursus tincidunt cum in pulvinar
          commodo
          <br />
          consectetur pulvinar lacus, augue augue purus, vitae
        </p>

        <p id="mobileimg" style="    position: relative;
    margin-top: -350px;
    margin-left: 600px;">
          <img src="./assets/images/mobile.PNG" />
        </p>
      </div>

      <!-- ********** our purpose , promise etc ********* -->
      <p #About id="purpose" style="    color: #0a376f;
        margin-top: 0px;
        position: relative;
        margin-left: 119px;
        line-height: 20px;">
        <label id="heading11" style="font-size: 34px; color: #0a376f ; font-family: HelveticaNeue-Medium">Our
          purpose</label>
        <br />
        <br />
        <label id="para11" style="font-size: 15px; color: #0a376f; font-family: Helvetica">
          We understand the value of connections. Meeting people when you want
          to
          <br />can be a daunting task especially when traffic gets in the way.
          We are
          <br />
          committed to helping people get to their destination fast, safe and in
          style.</label>
      </p>
      <p id="description" style="    color: #0a376f;
        margin-top: -130px;
        position: relative;
        margin-left: 800px;
        line-height: 20px;">
        <label id="heading22" style="font-size: 34px; color: #0a376f ; font-family: HelveticaNeue-Medium">App
          description</label>
        <br />
        <br />
        <label id="para22" style="font-size: 15px; color: #0a376f; font-family: Helvetica">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
          Non nibh nunc urna, morbi sodales. Nec, quis a sit vel.<br />
          Tellus dictumst integer sit pulvinar elementum hac eros.<br />
          Suspendisse cursus in ac, eget dictum enim ipsum, massa ultricies.<br />
          Tincidunt id iaculis dictum mattis morbi ac sapien, aliquam dignissim.
          <br />Mauris adipiscing habitasse quis leo. Sodales habitant cursus
          sed sed aliquet.<br />
          Sapien etiam auctor ultricies enim, integer.<br />
          Id enim, purus nunc, proin nisl.<br />
          Scelerisque eget cursus rhoncus, massa tincidunt dignissim facilisis
          ut cras.<br />
          Fusce adipiscing massa libero risus.<br />
          Ornare aliquet amet, in vitae. Habitasse nunc ac a cursus</label>
      </p>
      <p id="promise" style="    color: #0a376f;
          margin-top: -80px;
          position: relative;
          margin-left: 119px;
          line-height: 20px;">
        <label id="heading3" style="font-size: 34px; color: #0a376f ; font-family: HelveticaNeue-Medium">Our promise
        </label>
        <br />
        <br />
        <label id="para3" style="font-size: 15px; color: #0a376f; font-family: Helvetica">
          We salvage your most important asset, your time.</label>
      </p>

      <!-- ****************our purpose ,promise etc end************************** -->
      <!-- ****************app features ********************* -->
      <p id="appfeatures">App Features</p>
      <div style="margin-left: -65px;margin-top: -600px">
        <p id="element1" style="margin-top: 590px ; margin-left: 169px ; position: absolute ">
          <img src="./assets/images/bulb.PNG" style="margin-top: 3px" alt="bulb" />
          <label id="heading4" style="color: #0a376f ;     font-size: 17px;
                position: absolute;
                margin-top: 20px;
                margin-left: 3px;
                font-family: HelveticaNeue-Medium;
                width: max-content;">Feature 1</label>
          <label id="heading5" style="color: #0a376f ;     font-size: 12px;
                line-height: 12px;
                /* position: absolute; */
                margin-top: 48px;
                position: absolute;
                width: max-content; font-family: Helvetica">consequat cras lacinia id semper <br />risus in ultrices
            sed vulputate
            <br />
            dolor morbi nunc enim euismod<br />
            fames aenean quis sit et felis ut<br />
            facilisis</label>
        </p>



        <p id="element1" style="margin-top: 590px ; margin-left: 975px ; position: absolute ">
          <img src="./assets/images/bulb.PNG" style="margin-top: 3px" alt="bulb" />
          <label id="heading4" style="color: #0a376f ;     font-size: 17px;
                    position: absolute;
                    margin-top: 20px;
                    margin-left: 3px;
                    font-family: HelveticaNeue-Medium;
                    width: max-content;">Feature 3</label>
          <label id="heading5" style="color: #0a376f ;     font-size: 12px;
                    line-height: 12px;
                    /* position: absolute; */
                    margin-top: 48px;
                    position: absolute;
                    width: max-content; font-family: Helvetica">consequat cras lacinia id semper <br />risus in
            ultrices sed
            vulputate
            <br />
            dolor morbi nunc enim euismod<br />
            fames aenean quis sit et felis ut<br />
            facilisis</label>
        </p>
        <p id="element1" style="margin-top: 590px ; margin-left: 572px ; position: absolute ">
          <img src="./assets/images/bulb.PNG" style="margin-top: 3px" alt="bulb" />
          <label id="heading4" style="color: #0a376f ;     font-size: 17px;
                    position: absolute;
                    margin-top: 20px;
                    margin-left: 3px;
                    font-family: HelveticaNeue-Medium;
                    width: max-content;">Feature 2</label>
          <label id="heading5" style="color: #0a376f ;     font-size: 12px;
                    line-height: 12px;
                    /* position: absolute; */
                    margin-top: 48px;
                    position: absolute;
                    width: max-content; font-family: Helvetica">consequat cras lacinia id semper <br />risus in
            ultrices sed
            vulputate
            <br />
            dolor morbi nunc enim euismod<br />
            fames aenean quis sit et felis ut<br />
            facilisis</label>
        </p>
      </div>

      <!-- **************** 2nd features **************** -->

      <div style="margin-top: 160px; margin-left: -65px">
        <p id="element1" style="margin-top: 590px ; margin-left: 169px ; position: absolute ">
          <img src="./assets/images/bulb.PNG" style="margin-top: 3px" alt="bulb" />
          <label id="heading4" style="color: #0a376f ;     font-size: 17px;
                position: absolute;
                margin-top: 20px;
                margin-left: 3px;
                font-family: HelveticaNeue-Medium;
                width: max-content;">Feature 4</label>
          <label id="heading5" style="color: #0a376f ;     font-size: 12px;
                line-height: 12px;
                /* position: absolute; */
                margin-top: 48px;
                position: absolute;
                width: max-content; font-family: Helvetica">consequat cras lacinia id semper <br />risus in ultrices
            sed vulputate
            <br />
            dolor morbi nunc enim euismod<br />
            fames aenean quis sit et felis ut<br />
            facilisis</label>
        </p>

        <p id="element1" style="margin-top: 590px ; margin-left: 975px ; position: absolute ">
          <img src="./assets/images/bulb.PNG" style="margin-top: 3px" alt="bulb" />
          <label id="heading4" style="color: #0a376f ;     font-size: 17px;
                    position: absolute;
                    margin-top: 20px;
                    margin-left: 3px;
                    font-family: HelveticaNeue-Medium;
                    width: max-content;">Feature 6</label>
          <label id="heading5" style="color: #0a376f ;     font-size: 12px;
                    line-height: 12px;
                    /* position: absolute; */
                    margin-top: 48px;
                    position: absolute;
                    width: max-content; font-family: Helvetica">consequat cras lacinia id semper <br />risus in
            ultrices sed
            vulputate
            <br />
            dolor morbi nunc enim euismod<br />
            fames aenean quis sit et felis ut<br />
            facilisis</label>
        </p>
        <p id="element1" style="margin-top: 590px ; margin-left: 572px ; position: absolute ">
          <img src="./assets/images/bulb.PNG" style="margin-top: 3px" alt="bulb" />
          <label id="heading4" style="color: #0a376f ;     font-size: 17px;
                    position: absolute;
                    margin-top: 20px;
                    margin-left: 3px;
                    font-family: HelveticaNeue-Medium;
                    width: max-content;">Feature 5</label>
          <label id="heading5" style="color: #0a376f ;     font-size: 12px;
                    line-height: 12px;
                    /* position: absolute; */
                    margin-top: 48px;
                    position: absolute;
                    width: max-content; font-family: Helvetica">consequat cras lacinia id semper <br />risus in
            ultrices sed
            vulputate
            <br />
            dolor morbi nunc enim euismod<br />
            fames aenean quis sit et felis ut<br />
            facilisis</label>
        </p>
      </div>
      <p id="theteam">The Team</p>
      <div style="margin-top: -890px ; margin-left: -45px">
        <p style="position: absolute; margin-top: 895px; margin-left: 119px;">
          <img src="./assets/images/Rectangle 2.1.png" /> <br />
          <label style="color:#0a376f;
                font-size: 18px;
                font-family: HelveticaNeue-Medium;">Name Surname</label>
          <br />
          <label style="    position: absolute;
                margin-top: -8px;
                color:#0a376f;
                font-size: 13px;
                font-family: Helvetica;">Job Title</label>
        </p>
        <p style="position: absolute; margin-top: 895px; margin-left: 440px;">
          <img src="./assets/images/Rectangle 2.2.png" /> <br />
          <label style="color:#0a376f;
                font-size: 18px;
                font-family: HelveticaNeue-Medium;">Name Surname</label>
          <br />
          <label style="    position: absolute;
                margin-top: -8px;
                color:#0a376f;
                font-size: 13px;
                font-family: Helvetica;">Job Title</label>
        </p>
        <p style="position: absolute; margin-top: 895px; margin-left: 761px;">
          <img src="./assets/images/Rectangle 2.3.png" /> <br />
          <label style="color:#0a376f;
                font-size: 18px;
                font-family: HelveticaNeue-Medium;">Name Surname</label>
          <br />
          <label style="    position: absolute;
                margin-top: -8px;
                color:#0a376f;
                font-size: 13px;
                font-family: Helvetica;">Job Title</label>
        </p>
        <p style="position: absolute; margin-top: 895px; margin-left: 1082px;">
          <img src="./assets/images/Rectangle 2.png" /> <br />
          <label style="color:#0a376f;
                font-size: 18px;
                font-family: HelveticaNeue-Medium;">Name Surname</label>
          <br />
          <label style="    position: absolute;
                margin-top: -8px;
                color:#0a376f;
                font-size: 13px;
                font-family: Helvetica;">Job Title</label>
        </p>


      </div>
      <!-- ****************app features end**************************** -->
      <!-- </nav> -->
      <!-- ***********************about us page end*************** -->
      <!-- ***********************************************CONTACT US PAGE *********************************** -->

      <p #Contact id="getintouch">Get In Touch</p>
      <div id="contactcard" style="position: relative;margin-top: -400px;
   
    margin-left: -50px; ">
        <div class="card" style="height: 508px ; width: 805px ; position: absolute; background-color: white;
        ; margin-left: 120px ; margin-top: 404px">
          <div class="card-content">
            <p style="margin-top: 64px ; position: absolute ; font-family: Helvetica;letter-spacing: 0.5px;
    font-size: 24px;
    font-weight: 300; color:#015ea5 ; margin-left: 34px">
              Send us a Message
            </p>
            <p>
              <input type="text" id="Name" placeholder="Name" style="height: 38px;
              width: 342px;
              background-color: #e4e1e1;
              border-radius: 1px;
              border-color: #e4e1e1;
              opacity: 0.4;
              margin-top: 134px;
              position: absolute;
              margin-left: 34px;" />
            </p>
            <p>
              <input type="text" id="Email" placeholder="Email" style="height: 38px;
              width: 342px;
              background-color: #e4e1e1;
              border-radius: 1px;
              border-color: #e4e1e1;
              opacity: 0.4;
              margin-top: 134px;
              position: absolute;
              margin-left: 405px;" />
            </p>

            <!-- ******  second input********* -->

            <p>
              <input type="text" id="Phone" placeholder="Phone" style="height: 38px;
              width: 342px;
              background-color: #e4e1e1;
              border-radius: 1px;
              border-color: #e4e1e1;
              opacity: 0.4;
              margin-top: 195px;
              position: absolute;
              margin-left: 34px;" />
            </p>
            <p>
              <input type="text" id="Company" placeholder="Company" style="height: 38px;
              width: 342px;
              background-color: #e4e1e1;
              border-radius: 1px;
              border-color: #e4e1e1;
              opacity: 0.4;
              margin-top: 195px;
              position: absolute;
              margin-left: 405px;" />
            </p>
            <!-- *********  second input******* -->
            <!-- ******* third input ********* -->
            <p>
              <input type="text" id="Message" placeholder="Message" style="height: 38px;
                width: 715px;
                height: 150px;
                background-color: #e4e1e1;
                border-radius: 1px;
                border-color: #e4e1e1;
                opacity: 0.4;
                margin-top: 262px;
                position: absolute;
                margin-left: 34px;" />
            </p>
            <!-- ********* third input ********** -->
            <p>
              <a id="signup" class="waves-effect waves-light btn" style="       position: absolute;
      margin-left: 284px;
      margin-top: 422px;
      border-radius: 10px 0px;
      background-color:#015ea5;
      color: white;
      width: 170px;
      text-transform: unset;">Send</a>
            </p>
          </div>
        </div>
        <!-- ********  white card********* -->
        <!-- ********** second card *********** -->
        <div class="card" style="height: 508px ; width: 409px ; position: absolute; background-color:#015ea5;
        ; margin-left: 923px ; margin-top: 404px">
          <div class="card-content">
            <p style="margin-top: 66px; margin-left: 64px ; color: whitesmoke; font-size: 24px; font-family: Helvetica">
              Contact Information
            </p>
            <p style="margin-top:52px ; margin-left:57px">
              <img src="./assets/images/phone.png" />
            </p>
            <p
              style="font-family: helvetica ; font-size: 14px; color: whitesmoke ; margin-top: -36px; margin-left: 94px">
              +234 1 6586 7839
            </p>

            <p style="margin-top:52px ; margin-left:57px">
              <img src="./assets/images/envelope.png" />
            </p>
            <p
              style="font-family: helvetica ; font-size: 14px; color: whitesmoke ; margin-top: -30px; margin-left: 94px">
              contact@vetifly.com
            </p>
            <p style="margin-top:52px ; margin-left:57px">
              <img src="./assets/images/location.png" />
            </p>
            <p
              style="font-family: helvetica ; font-size: 14px; color: whitesmoke ; margin-top: -38px; margin-left: 94px">
              Lorem ipsum dolor sit amet, consectetur <br />
              adipiscing elit. Massa ac netus sed <br />consectetur egestas
            </p>
          </div>
        </div>
      </div>
      <!-- ********************************************CONTACT US PAGE END**************************************** -->
    </nav> <!-- *************************END**************************** -->
    <nav id="nav">
      <ul id="myul">
        <li><img id="logo1" src="./assets/images/privacylogo.png" /></li>
        <li (click)="scrollToDiv(howItWorks)"><a id="how">How it works</a></li>
        <li (click)="scrollToDiv(joinTheVetlifyClub)"><a id="join">Join the Vetifly Club</a></li>
        <li (click)="scrollToDiv(About)"><a id="about">About</a></li>
        <li (click)="scrollToDiv(Contact)"><a id="contact">Contact</a></li>
        <li><a id="login1" [routerLink]="['/login']">Log In</a></li>
        <li>
          <a id="signup1" class="waves-effect waves-light btn">Sign Up</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<style>
  #nav {
    height: 80px;
    position: sticky;
    background: transparent;
    top: 0;
    transition: 0.5s;
  }

  #join {
    margin-top: 9px;
  }

  #about {
    margin-top: 9px;
  }

  #contact {
    margin-top: 9px;
  }

  #login1 {
    margin-left: 500px;
    margin-top: 9px;
  }

  #nav {
    height: 80px;
    position: sticky;
    background: transparent;
    top: 0;
    transition: 0.5s;
    width: 1349px;
  }

  #myul {
    font-family: HelveticaNeue-Medium;
  }

  #how {
    margin-left: 40px;
    margin-top: 9px;
  }

  #logo1 {
    margin-left: 2px;
    margin-top: 2px;
  }

  #signup1 {
    background-color: white;
    color: #1f3a6d;
    border-radius: 10px 0px;
    text-transform: unset;
    text-align: center;
    margin-top: 9px;
    border: #1f3a6d 1px solid;
    width: 95px;
  }

  #getstarted {
    background-color: #0063b0;
    text-transform: unset;
    font-family: HelveticaNeue-Medium;
    text-align: center;
    width: 200px;
    border-radius: 11px 0px;
    border: white 1px solid;
    margin-top: 519px;
    position: absolute;
    margin-left: 32px;
  }

  #subscribe {
    position: absolute;
    margin-top: 715px;
    margin-left: 400px;
    font-family: HelveticaNeue-Medium;
    font-size: 35px;
    color: #1f3a6d;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  #card2 {
    position: relative;
    margin-left: 520px;
    margin-top: -656px;
  }

  #card3 {
    position: relative;
    margin-left: 870px;
    margin-top: -656px;
  }

  #appfeatures {
    position: relative;
    margin-top: 100px;
    margin-left: 550px;
    font-family: HelveticaNeue-Medium;
    font-size: 34px;
    color: #0a376f;

  }

  #theteam {
    position: relative;
    margin-top: 950px;
    margin-left: 575px;
    font-family: HelveticaNeue-Medium;
    font-size: 34px;
    color: #0a376f;
  }

  #getintouch {
    position: relative;
    margin-top: 1400px;
    margin-left: 500px;
    color: #1f3a6d;
    font-family: HelveticaNeue-Medium;
    font-size: 34px;
  }

  #card1:hover {
    background: #98afc7;

  }

  #card2:hover {
    background: #98afc7;

  }

  #card3:hover {
    background: #98afc7;

  }

  input::-webkit-input-placeholder {
    color: rgb(53, 51, 51);
    /*Change the placeholder color*/
    opacity: 1;
    /*Change the opacity between 0 and 1*/
  }
</style>