<!-- <form #usersForm="ngForm" (ngSubmit)="onSubmit(usersForm)">
  <input
    type="hidden"
    name="_id"
    #_id="ngModel"
    [(ngModel)]="usersService.selectedUsers._id"
  /> -->
<div
  class="container"
  style="position: absolute;
    text-align: inherit;
    margin-left: -70px;
    margin-top: -25px;"
>
  <div
    class="card"
    style="background-color:white; width:983px; height:535px ; margin-top:70px ; margin-left: 260px"
  >
    <div class="vl"></div>

    <p
      style="margin-left:479px ; margin-top:88px ; color:#1f3a6d; font-weight:600; position:absolute; font-size:15px; font-family:Helvetica"
    >
      Choose Subscription
    </p>

    <div style="position:absolute; margin-left: 475px ; margin-top:130px;">
      <a
        id="button1"
        class="btn"
        (click)="Boss1($event)"
        style="width: 151px;
  height: 53px; line-height: 27px ; font-size: 14px; color:#1f3a6d ;background-color: #f2f2f2"
        ><b>Boss</b> <br />
        $1500/yr</a
      >
      <a
        id="button2"
        (click)="Executive1($event)"
        class="btn"
        style=" width: 151px;
  height: 53px; line-height: 27px ; font-size: 14px;background-color: #f2f2f2 ;color:#1f3a6d ; text-transform: unset;    margin-left: 15px; "
        ><b>Executive</b> $2500/yr</a
      >
      <a
        id="button3"
        class=" btn "
        (click)="President1($event)"
        style=" width: 151px;
  height: 53px; line-height: 27px; background-color: #f2f2f2 ; font-size: 14px;text-transform: unset;color:#1f3a6d ;     margin-left: 15px; "
        ><b>President</b> $5000/yr</a
      >
    </div>
    <style>
      div.btn:active {
        background-color: #4dd0e1;
      }
    </style>

    <!-- ********************************* MODAL FINAL *************************************** -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

    <div class="w3-container">
      <a
        id="mylink"
        style="position:absolute; color: #1f3a6d;margin-left: 809px ;font-size: 13px;font-family: Helvetica ;margin-top:185px"
        onclick="document.getElementById('id01').style.display='block'"
      >
        <u>*I do not want to pay</u>
      </a>

      <div id="id01" class="w3-modal">
        <div
          class="w3-modal-content"
          style="background-color: white; height: 250px;"
        >
          <div class="w3-container">
            <span
              style="position: absolute;
    margin-left: 840px;
    margin-top: 0px;"
              onclick="document.getElementById('id01').style.display='none'"
              class="w3-button "
              >&times;</span
            >
            <p
              style="color: #1f3a6d ; font-family: HelveticaNeue-Medium;
    font-size: 21px;    font-weight: 600"
            >
              Subscription
            </p>
            <p
              style="color: #1f3a6d ; line-height: 21px;
    font-family: HelveticaNeue-Medium;
    font-size: 16px;"
            >
              We are currently only accepting subscribers with sign-ups.
              <br />Please enter your email below if you would like us to notify
              you as soon as the service opens up.
            </p>
            <div style="margin-top: 15px">
              <input
                style="opacity: 0.5 ; font-family: Helvetica; width: 348px;height: 37px ;   background-color: #c4c4c4;
                  margin-left: 1px;"
                type="text"
                id="fullname1"
                value=" Full Name"
              />
              <br />
              <input
                style="opacity: 0.5 ;    background-color: #c4c4c4 ;margin-top:4px; width: 348px;height: 37px ; 
                  margin-left: 1px;"
                type="text"
                id="email1"
                value=" Email"
              />
            </div>
          </div>
        </div>
        <footer
          class="w3-container"
          style="background-color:#1f3a6d;     width: 900px;
    margin-left: 233px; position: relative;
    height: 50px;"
        >
          <div>
            <a
              style="color: white ;font-size: 14px;
    font-family: Helvetica;
   
    margin-top: 15px;
    position: absolute;
    margin-left: 605px; letter-spacing: 0.7px
"
              href="#"
              ><u>SUBSCRIBE</u></a
            >
            <a
              style="color: white ; 
    margin-left: 730px;
    font-family: Helvetica;
    font-size: 14px;
    margin-top: 15px;
    position: absolute;"
              href="#"
              ><u>GO TO HOMEPAGE</u></a
            >
          </div>
        </footer>
      </div>
    </div>
    <!-- ********************************************************************* -->
    <div
      style="position:absolute ; margin-top: 270px ;width: 298px;
    ; margin-left: 477px ;"
    >
      <input
        style="width: 348px;
    height: 37px;
    opacity: 0.5;
    border-radius: 1px;
    background-color: #c4c4c4; text-align: center"
        type="text"
        id="referal"
        onfocus="this.value=''"
        value="*Add a Referal Code*"
        placeholder="Add a Referal Code"
      />
    </div>
    <!-- ******************* checkbox for payment ******************** -->

    <div
      style="position: absolute;margin-top:217px;margin-left:460px"
      class="switch"
    >
      <label>
        <input type="checkbox" (click)="function5()" />
        <span class="lever"></span>
      </label>
    </div>
    <div
      id="sentenceA"
      style="position: absolute ; color: #1f3a6d; margin-top:222px ;font-size: 12px ;margin-left:521px"
    >
      Change my currency to Naira :
    </div>
    <div>
      <span *ngIf="buttonclicked1" id="price"
        ><label
          style="position: absolute;color:#1f3a6d ; margin-top: 222px;margin-left: 710px"
          >{{ pagePrice1 }}</label
        ></span
      >
    </div>

    <!-- ********************************************************************* -->
    <!-- ************ checkbox and privacy policy ****************** -->
    <div style="  font-size:12px ; color: rgba(0, 0, 0, 0.7)">
      <label>
        <input
          type="checkbox"
          style="position:absolute ; margin-top: 338px ; margin-left: 482px ; "
        />
        <span
          class="checkmark"
          style="position:absolute ; margin-top: 338px ; margin-left: 482px ; "
        ></span>
        <label
          id="sentence"
          style="position: absolute; margin-top:343px; margin-left:509px"
        >
          I agree to the
          <a style="color:#1f3a6d" href="#"><u>terms and conditions</u></a> and
          <a
            style="color:#1f3a6d ; cursor: pointer;"
            [routerLink]="['/privacy']"
            ><u>privacy policy</u></a
          >
        </label>
      </label>
    </div>
    <!-- ****************************************************************** -->

    <p style="position:absolute ; margin-left: 479px ; margin-top:365px ;   ">
      <button
        style=" width: 470px;
    border-radius: 10px 0px; background-color:grey; color:white"
        id="signupbig"
        class="waves-effect waves-light btn"
        type="submit"
      >
        <!-- [disabled]="!usersForm.valid"
      > -->
        Sign Up
      </button>
    </p>

    <p>
      <img
        src="./assets/images/paymentlogo.PNG"
        style="margin-top:86px ; margin-left:157px"
      />
    </p>
    <div>
      <input type="text" id="fullname" placeholder="FullName" />
      <!-- #name="name"
        #name="ngModel"
        [(ngModel)]="usersService.selectedUsers.name"
      /> -->

      <br />
      <input type="text" id="mobilenumber" placeholder="Mobile Number" />
      <!-- #name="phone"
        #name="ngModel"
        [(ngModel)]="usersService.selectedUsers.phone"
      /> -->
      <br />
      <input
        type="text"
        id="email"
        placeholder="Email
    "
      />
      <!-- #name="email" -->

      <!-- #name="ngModel"
        [(ngModel)]="usersService.selectedUsers.email"
      /> -->
      <br />
      <input type="text" id="confirmemail" placeholder="Password" />
    </div>
  </div>
</div>
<!-- </form> -->

<!-- ********* css *********** -->

<style>
  fake-input {
    position: relative;
    width: 240px;
  }

  .fake-input input {
    border: none;
    background-color: #fff;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .fake-input img {
    position: absolute;
    top: 2px;
    right: 5px;
  }

  .vl {
    height: 360px;
    position: absolute;
    left: 50%;
    margin-left: -61px;
    top: 0;
    border-left: 1.5px solid #1f3a6d;
    margin-top: 40px;
  }

  #fullname {
    width: 348px;
    height: 37px;
    opacity: 0.5;
    border-radius: 1px;
    background-color: #c4c4c4;
    margin-left: 35px;
    position: absolute;
    margin-top: 2px;
  }

  #mobilenumber {
    width: 348px;
    height: 37px;
    opacity: 0.5;
    border-radius: 1px;
    background-color: #c4c4c4;
    margin-left: 35px;
    position: absolute;
    margin-top: 27px;
  }

  #email {
    width: 348px;
    height: 37px;
    opacity: 0.5;
    border-radius: 1px;
    background-color: #c4c4c4;
    margin-left: 35px;
    position: absolute;
    margin-top: 51px;
  }

  #confirmemail {
    width: 348px;
    height: 37px;
    opacity: 0.5;
    border-radius: 1px;
    background-color: #c4c4c4;
    margin-left: 35px;
    position: absolute;
    margin-top: 75px;
  }

  [type="radio"]:checked + span:after,
  [type="radio"].with-gap:checked + span:after {
    background-color: #1f3a6d;
  }

  [type="radio"]:checked + span:after,
  [type="radio"].with-gap:checked + span:before,
  [type="radio"].with-gap:checked + span:after {
    border: 0.5px solid mediumpurple;
  }

  #link2 {
    cursor: pointer;
  }

  .w3-button {
    color: #1f3a6d !important;
    background-color: white !important;
    position: absolute;
    margin-left: 772px;
    color: #1f3a6d;
    margin-top: 131px;
  }

  .w3-button[_ngcontent-pvc-c1] {
    color: #1f3a6d !important;
    background-color: white !important;
    position: absolute;
    margin-left: 840px;
    margin-top: 0px;
  }

  #mylink:hover {
    background-color: white;
    cursor: pointer;
  }

  .switch label input[type="checkbox"]:checked + .lever:after {
    background-color: #1f3a6d;
  }

  .switch label input[type="checkbox"]:checked + .lever {
    background-color: #c4c4c4;
  }

  [type="checkbox"]:checked + span:not(.lever):before {
    border-right: 2px solid #1f3a6d;
    border-bottom: 2px solid #1f3a6d;
  }
  input::-webkit-input-placeholder {
    color: rgb(53, 51, 51); /*Change the placeholder color*/
    opacity: 1; /*Change the opacity between 0 and 1*/
    font-size: 12px;
  }
</style>
