<div
  style="height:636px; width:1349px;background-image: url(./assets/images/signupbg.PNG)"
>
  <div
    id="image"
    style="margin-left: 300px;
    margin-top: 100px;"
  >
    <img src="./assets/images/paymentlogo.PNG" />
  </div>
  <div
    id="content"
    style="margin-top: -200px;
    margin-left: 160px;"
  >
    <input id="input1" type="text" placeholder="Email" />
    <input type="text" id="input2" placeholder="Password" />
    <a id="loginbutton" class="waves-light waves-light btn">LOG IN</a>
  </div>
</div>

<style>
  #input1 {
    width: 348px;
    height: 37px;
    opacity: 0.5;
    border-radius: 1px;
    background-color: #c4c4c4;
    margin-left: 35px;
    position: absolute;

    margin-top: 250px;
  }

  #input2 {
    width: 348px;
    height: 37px;
    opacity: 0.5;
    border-radius: 1px;
    background-color: #c4c4c4;
    margin-left: 35px;
    position: absolute;
    margin-top: 300px;
  }
  input::-webkit-input-placeholder {
    color: rgb(53, 51, 51); /*Change the placeholder color*/
    opacity: 1; /*Change the opacity between 0 and 1*/
  }

  #loginbutton {
    position: absolute;
    margin-left: 35px;
    margin-top: 349px;
    background-color: blue;
    color: white;
    border-radius: 10px 0px;
    border: 1px white solid;
    width: 348px;
    text-align: center;
  }
</style>
